* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.containerFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.h1Frame {
  height: 100vh;
  width: 5%;
}
h1 {
  margin: 0.05em 0 0 0;
  font-size: 8.3em;
  word-break: break-all;
  line-height: 0.6em;
  letter-spacing: -0.13em;
}

/* LEFT FRAME */

.leftFrame {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-width: 0 3px 0 0;
  /* background-color: #6c5ce7; */
}

.formFrame {
  margin: 7em 0 0 0;
  padding: 1em 0.5em 0 0.5em;
  /* border: #a29bfe 1px solid; */
  border-radius: 0.2em;
  /* background-color: #a29bfe; */
}

.formFrame a {
  margin: 1em 0 0 1em;
  text-decoration: none;
}

.formFrame label {
  margin: 0 1em 0 0;
}

form div {
  margin: 1em;
}

input[type="file"]::file-selector-button {
  border: 0.5px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #c1fdc8;
  transition: 1s;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 0.3em;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
}

.button {
  padding: 0.2em 0.5em 0.2em 0.5em;
  cursor: pointer;
}

/* RIGHT FRAME */

.rightFrame {
  width: 80%;
}

.galleryFrame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 1em;
  padding: 1em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFrame textarea,
p {
  margin: 1em 0 1em 0;
  height: 8em;
}

.rightFrame .id {
  visibility: hidden;
}

.photo a {
  align-self: end;
  text-decoration: none;
  color: rgb(99, 90, 90);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:hover {
  color: red;
}

.editFrame form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nophotos {
  margin: 10em 0 0 0;
}
